<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta property="og:title" content="franker"/>
	<meta property="og:description" content="授業を皆で良くする"/>
	<meta property="og:image" content="{{ asset('img/fb.jpg') }}"/>
	<meta property="og:url" content="http://100mpv.com/franker/web/top"/>
    <link href="{{ asset('css/top.css') }}" type="text/css" rel="stylesheet" />
    <link href='http://fonts.googleapis.com/css?family=Righteous' rel='stylesheet' type='text/css'>
    {#<script src="{{ asset('bundles/chat/js/jquery.min.js') }}" type="text/javascript"></script>#}	
	{#<script src="{{ asset('bundles/chat/js/chat.js') }}" type="text/javascript"></script>#}
	<title>franker</title>
</head>
<body>
	
	<div id="two">
		<p>授業や講演をみんなでよくする</p>
		<h1>franker β</h1>
		<p><img src="{{ asset('img/sample.png') }}"></p>
		<p><a href="{{ path('chat_chat_menu') }}">＞ためしに使ってみる</a></p>
	</div>
	
	<div id="three">
		<p><img src="{{ asset('img/past.png') }}" id="three"></p>
	</div>
	
	<div id="four">
		<h2>frankerを使えば</h2>
	</div>
	
	<div id="five">
		<p><img src="{{ asset('img/future.png') }}" id="five"></p>
		<p>frankerを使えば<br />授業中でも講義中でも質問や意見ができる！</p>
		<p>講師の皆さんも素早いフィードバックを<br />生徒たちから得ることができる！</p>
	</div>
	
	<div id="slide">
	<p>もっと詳しく</p>
	<p><iframe src="//www.slideshare.net/slideshow/embed_code/42336630" width="476" height="400" frameborder="0" marginwidth="0" marginheight="0" scrolling="no"></iframe></p>
	</div>
	
	<div id="footer">
	<div id="copy">franker|授業を皆で良くする</div>
	</div>
		
</body>
</html>